<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      myLatlng = {lat: 28.713956, lng: 77.006653};

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatlng,
          zoom: 13
        });

      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Click to zoom'
        });

      google.maps.event.addListener(map, 'click', function (event) {
          document.getElementById("lat").value = event.latLng.lat();
          document.getElementById("long").value = event.latLng.lng();
          marker.setPosition(event.latLng);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCpe3Rlgknr1W5ExLRkOq8HVpG9xz9Nhc&callback=initMap" type="text/javascript"></script>
    <script>
      var circle = new google.maps.Circle({
          map: null,
          radius: parseFloat(0),    // 1 km in metres
          fillColor: '#AA0000'
      });

      function makeMarker() {
        marker.setMap(null);
        var rad = document.getElementById("radius").value;
        console.log(rad);

        var marker = new google.maps.Marker({
          position: {lat: parseFloat(document.getElementById("lat").value), lng: parseFloat(document.getElementById("long").value)},
          map: map,
          title: 'Click to zoom'
        });

        // Add circle overlay and bind to marker
        

        circle = new google.maps.Circle({
          map: map,
          radius: parseFloat(rad),    // 1 km in metres
          fillColor: '#AA0000'
        });

        // circle.radius = parseFloat(rad);
        // circle.map = map;
        // circle = google.maps.Circle({
        //   map: map,
        //   radius: parseFloat(rad),    // 1 km in metres
        //   fillColor: '#AA0000'
        // });

        circle.bindTo('center', marker, 'position');

        google.maps.event.addListener(map, 'click', function (event) {
          document.getElementById("lat").value = event.latLng.lat();
          document.getElementById("long").value = event.latLng.lng();
          marker.setPosition(event.latLng);
        });

        // map.addListener('center_changed', function() {
        //   // 3 seconds after the center of the map has changed, pan back to the
        //   // marker.
        //   window.setTimeout(function() {
        //     map.panTo(marker.getPosition());
        //   }, 3000);
        // });
      }

      function removeCircle(marker) {
      // remove whatever is there
      marker.setMap(null);

      var icon = {
        url: marker.originalpin,
        scaledSize: new google.maps.Size(22, 32)
      }
      // reset the marker icon 
      marker.icon = icon;

      //sets the marker back
      marker.setMap(map);

      // NOW REMOVE the circle:
      // So at this point I am stuck.  I have bound a circle to
      // the marker but in order to REMOVE the circle I need a 
      // reference to it.  Other SO postings suggest acting on the 
      // circle object directly like so:

      marker.circle.setMap(null);

      // but the "circle" doesn't exist here. It was bound to the marker in another function.  I need a reference to the circle that was bound to the marker so I can act on it.
    }

    </script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCpe3Rlgknr1W5ExLRkOq8HVpG9xz9Nhc&callback=initMap" type="text/javascript"></script> -->
    <form>
      Name: <input type="text" id="name" name="name" val="" /> <br />
      Radius (in meters): <input type="number" id="radius" name="radius" val="" onchange="makeMarker()" /> <br />
      Lat: <input type="number" id="lat" name="lat" val="" /> <br />
      Long: <input type="number" id="long" name="long" val="" /> <br />
      <input type="button" value="Submit" />
    </form>
    <div id="map_canvas" style="width: 500px; height: 250px;"></div>
  </body>
</html>


























